:root {
	/* sets the font size to 10px as base */
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
}

body {
	font-size: 1.4rem;
}

.medal-container {
	margin: 3rem auto 0 auto;
	width: 60%;
}

.country-container {
	width: 100%;
}
